@page
@model web.Pages.About_usModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/home.css" />
    <title>@ViewData["Title"] - web</title>
    >

</head>
<body>

    <div class="navbar">
        <ul>
            <li><a class="nav" asp-area="" asp-page="/index">Home </a></li>
            <li><a class="nav" asp-area="" asp-page="/food donation">food donations </a></li>
            <li><a class="nav" asp-area="" asp-page="/money donation">Money donations </a></li>
            <li><a class="nav" asp-area="" asp-page="/About us">About ua </a></li>


        </ul>
    </div>
</body>
</html>
