@page
@model web.Pages.adminModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/admin.css" />
    <title>@ViewData["Title"] - web</title>
    

</head>
<body>
    <div class="signUp-box">

        <h1>Admin login</h1>
        <h4>It's free and only takes a minute</h4>
        <form>

            <label>Username</label>
            <input type="text" placeholder="">


            <label>Password</label>
            <input type="password" placeholder="">

            <input type="button" value="Submit">


        </form>
        <p>By clicking the Sign Up button, you agree to our terms and conditions</p>
        
    </div>

</body>
</html>